@import "mytable.css";
@import "mylinestyle.css";
/* hr{
  color: sienna;
}
p{
  margin-left: 200px;
  background-color: gray;
  font-size: 50px;
} */
body{
  /* background-image: url("../res/testimage.png");
  background-repeat: no-repeat;;/*默认repeat*/
  /* background-attachment: fixed;
  background-position: 50px 100px;
  background-color: yellow; */
  background: #ffffff url("../res/testimage.png") no-repeat fixed center;
  font-family: Georgia,serif;
  font-style: oblique;
}
h1{
  background-color: #00ff00;
  text-transform: capitalize;
  white-space: pre;
}
h2{
  background-color: transparent;
  text-decoration: line-through;
}
h2.pos_left{
  position: relative;
  left: -5px;
}
h2.pos_right{
  position: relative;
  left: 20px;
}
h2.pos_abs{
  position: absolute;
  left: 100px;
  top: 150px;
}


p{
  /* background-color: rgb(250, 0, 250); */
  /* text-indent: -5em;
  padding-left: 5em; */
/* padding: 10%; */
}
p.no2{
  background-color: green;padding: 20px;
}
span.hightligh{
  background-color: green;
}
p.spread{
  word-spacing: 0px;
  letter-spacing: 20px;

}
p.tight{
  word-spacing: 0;
  /* letter-spacing: -0.5em; */
}
p.normal{
  font-variant: normal;
  font-weight: normal;
}
p.small{
  font-variant: small-caps;
  font-weight: 900;
}
p.aside{
  border-style: solid solid dashed double;
  border-width: 10px 20px;
  border-color: blue;
}

a:link img{
  /* color: #FF0000;
  text-decoration: none;
  background-color: #B2FF99; */
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
}
a:visited{
  color: #00FF00;
  text-decoration: none;
  background-color: #FFFF85;
}
a:hover{
  color: #FF00FF
  text-decoration: underline;
  background-color: #FF704D;
}
a:active{
  color: #0000FF;
  text-decoration: underline;
  background-color: #FF704D;
}
/* div{
  background-color: #00ff00;
  width: 150px;
  height: 150px;
  overflow: auto;
} */
img.top{
  vertical-align: text-top;
}
img.bottom{
  vertical-align: text-bottom;
}
img.x{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#box_relative{
  position: relative;
  left: 30px;
  top: 20px;
}
.news{
  background-color: gray;
  border: solid 1px red;
  float: left;
}
.news img{
  float: left;
}
.news p{
  float: left;
}
.clear {
  clear: both;
}
.float_div{
  background-color: gray;
  border: solid 1px red;
  /* float: right; */
}
.img_div{
  float: right;
  width: 120px;
  margin: 0 0 15px 20px;
  padding: 15px;
  border: 1px solid black;
  text-align: center;
}
img.float_right{
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}
.span_css{
  float: left;
  width: 0.7em;
  font-size: 400%;
  font-family: algerian,courier;
  line-height: 80%;
}
